<div class="col-md-3 rule_menu_select text-bold active">
            GENERAL
        <i class="fa fa-caret-down rule_menu_select_active"></i>
    </div>
    <div class="col-md-3 rule_menu_select text-bold">
        MATCH
    </div>
    <div class="col-md-3 rule_menu_select text-bold">
        LEAGUE STAGE
    </div>
    <div class="col-md-3 rule_menu_select text-bold">
        KNOCKOUT STAGE 
    </div>
</div>

<div class="container-fluid mobile_select visible-sm visible-xs">
    <select class="form-control">
        <option>GENERAL</option>
        <option>MATCH</option>
        <option>LEAGUE STAGE</option>
        <option>KNOCKOUT STAGE</option>
    </select>
</div>

<div class="rules_container container-fluid">
    <div class="row">
        <h2 class="text-center text-danger">GENERAL RULES</h3>
    </div>
    <div class="rules container-fluid">
        <div class="col-md-1 col-sm-1 col-xs-3">
            <h3 class="rule_number text-danger">#1</h3>
        </div>
        <div class="rule_description col-md-11 col-sm-11 col-xs-9">
            The game can be played on either natural or artificial surfaces, the surface must be green and rectangular in shape.  The two long sides of the rectangle are called touch lines and the two shorter sides are called goal lines.  The field is divided in half by the halfway line.
        </div>
    </div>
    <div class="rules container-fluid">
        <div class="col-md-1 col-sm-1 col-xs-3">
            <h3 class="rule_number text-danger">#2</h3>
        </div>
        <div class="rule_description col-md-11 col-sm-11 col-xs-9">
            The game can be played on either natural or artificial surfaces, the surface must be green and rectangular in shape.  The two long sides of the rectangle are called touch lines and the two shorter sides are called goal lines.  The field is divided in half by the halfway line.
        </div>
    </div>
    <div class="rules container-fluid">
        <div class="col-md-1 col-sm-1 col-xs-3">
            <h3 class="rule_number text-danger">#3</h3>
        </div>
        <div class="rule_description col-md-11 col-sm-11 col-xs-9">
            The game can be played on either natural or artificial surfaces, the surface must be green and rectangular in shape.  The two long sides of the rectangle are called touch lines and the two shorter sides are called goal lines.  The field is divided in half by the halfway line.
        </div>
    </div>
    <div class="rules container-fluid">
        <div class="col-md-1 col-sm-1 col-xs-3">
            <h3 class="rule_number text-danger">#4</h3>
        </div>
        <div class="rule_description col-md-11 col-sm-11 col-xs-9">
            The game can be played on either natural or artificial surfaces, the surface must be green and rectangular in shape.  The two long sides of the rectangle are called touch lines and the two shorter sides are called goal lines.  The field is divided in half by the halfway line.
        </div>
    </div>
    <div class="rules container-fluid">
        <div class="col-md-1 col-sm-1 col-xs-3">
            <h3 class="rule_number text-danger">#5</h3>
        </div>
        <div class="rule_description col-md-11 col-sm-11 col-xs-9">
            The game can be played on either natural or artificial surfaces, the surface must be green and rectangular in shape.  The two long sides of the rectangle are called touch lines and the two shorter sides are called goal lines.  The field is divided in half by the halfway line.
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row download_link text-danger text-center">
        <a href="#"><i>DOWNLOAD RULES AS PDF</i></a>
    </div>

    <div class="container-fluid">
        {{{ PARTIAL '/test_bkp/templates/kailash' }}}
    </div>

    <div class="container-fluid">
        {{{ PARTIAL '/test_bkp/templates/sarath' }}}
    </div>
